[submodule "caddy"]
	path = caddy
	url = git@github.com:christoph00/container_caddy.git
[submodule "homeassistant"]
	path = homeassistant
	url = git@github.com:christoph00/container_homeassistant.git
[submodule "mqtt"]
	path = mqtt
	url = git@github.com:christoph00/container_mqtt.git
[submodule "adguard"]
	path = adguard
	url = git@github.com:christoph00/container_adguard.git
[submodule "nextcloud"]
	path = nextcloud
	url = git@github.com:christoph00/container_nextcloud.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:christoph00/container_postgres.git
